@{
    ViewBag.Title = "courseHistory";
}

@{
    BA_Project.Models.DatabaseReader db = new BA_Project.Models.DatabaseReader();

    Dictionary<DatabaseModel.cours, DatabaseModel.grades_database> coursesAndGrades = db.GetCoursesAndGrades();
}

<h2 id="courseInfotitle">Course History</h2>
<br />
<br />
<table id="tableInfo" class="table table-bordered table-hover" align="center">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Grade</th>
            <th>Finished Date</th>

        </tr>
    </thead>
    <tbody>

        @{foreach (KeyValuePair<DatabaseModel.cours, DatabaseModel.grades_database> course in coursesAndGrades)
        {
            DateTime finishDate = DateTime.Parse(@course.Key.finish_date.ToString());
              
            <tr>

                <td>@course.Key.name</td>
                <td>@course.Value.grade</td>
                <td>@finishDate.Day/@finishDate.Month/@finishDate.Year</td>

            </tr>

        }

        }
    </tbody>
</table>

@Styles.Render("~/Content/CourseInfo.css")