@model DatabaseModel.cours
@{
    ViewBag.Title = "IndividualCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/IndividualCourse.css")
<div>

    <h2> @Model.name</h2>
    <h4> @Model.outline</h4>

    <div class="courseOutline">
        <p>
            @Model.outline
            @*Here there will be information about the course<br />
            information<br />
            information<br />
            information<br />
            information<br />*@

        </p>
    </div>
    <div class="otherInformation">
        <p id="otherInformationPara">
            Lecturer: @Model.lecturer <br />
            Start Date: @Model.start_date<br />
            End Date: @Model.finish_date <br />
            Cost: @Model.cost <br />
            <input type="checkbox" /> Waiting List*<br />
            *To be put on a waiting list if course if full
        </p>
    </div>
    <button class="registerButton"> Register</button>

</div>
